{% extends 'admin/base.html.twig' %}
{% block title %}Liste des points{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Points de surveillance</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Zone</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for point in points %}
                                <tr>
                                    <td>{{ point.name }}</td>
                                    <td>{{ point.zone.name }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">Aucun point enregistré</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
